<div>
  <div class="container mb-4">
    <div class="row">
      <div *ngFor="let article of Articles;" class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body blue darken-2 white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              {{article.title}}
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4">
              {{article.summary | slice:0:128}}
            </p>
            <hr class="hr-light" />
            <!-- Link -->
            <a href="{{article.link}}" class="white-text d-flex justify-content-end"
              ><small>{{article.link}}</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
    </div>
  </div>
</div>


<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header grey lighten-2">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="basicModal.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Politika</h4>
      </div>
      <div class="modal-body">
        <a target="_blank"
          href="https://www.delo.si/novice/slovenija/ermenceva-si-zeli-da-bi-pripadniki-sv-za-ugovore-uporabljali-sluzbeno-pot-204237.html"
          ><h4 class="modal-title w-100 black-text" id="myModalLabel">
            Ermenčeva si želi, da bi pripadniki SV za ugovore uporabljali
            službeno pot
          </h4>
        </a>
        <strong
          >Knovs je končal pogovor z načelnico Generalštaba Slovenske vojske
          (SV) Alenko Ermenc</strong
        >
        <a href="#!" class="black-text d-flex justify-content-end">@delo.si</a>
        <div style="color: rgba(0, 0, 0, 0.5)">
          <hr class="hr-dark" />
          <a target="_blank"
            href="https://www.rtvslo.si/slovenija/nacelnica-si-zeli-da-bi-pripadniki-sv-za-ugovore-uporabljali-sluzbeno-pot/493988"
            ><h5 class="black-text">
              <strong>
                Načelnica si želi, da bi pripadniki SV za ugovore uporabljali
                službeno pot
              </strong>
            </h5>
          </a>

          <small>
            Po pogovoru s Knovsom načelnica Generalštaba SV Alenka Ermenc
            vsebine zaslišanja zaradi tajnosti ni pojasnjevala medijem, a
            pričakovati je, da je člane komisije zanimala zlasti njena vloga pri
            razrešitvi Mihe Škerbinca.
          </small>
          <a href="#!" class="black-text d-flex justify-content-end"
            ><small>@rtvslo.si</small>
          </a>
          <hr class="hr-dark" />
          <a target="_blank"
            href="https://www.24ur.com/novice/slovenija/ermenceva-si-zeli-da-bi-pripadniki-sv-za-ugovore-uporabljali-sluzbeno-pot.html"
            ><h5 class="black-text">
              <strong
                >Ermenčeva si želi, da bi pripadniki SV za ugovore uporabljali
                službeno pot
              </strong>
              <small><i class="fas fa-fire"></i></small></h5
          ></a>
          <small>
            Knovs je končal pogovor z načelnico Generalštaba Slovenske vojske
            (SV) Alenko Ermenc. Ta v izjavi za medije po zaslišanju ni
            razkrivala vsebine pogovora. O ravnanju nekdanjega poveljnika
            poveljstva sil Mihe Škerbinca je dejala le, da bi si želela, da bi
            vsak pripadnik uporabljal službeno pot, ko gre za predloge in
            ugovore na odločitve nadrejenih.
          </small>
          <a href="#!" class="black-text d-flex justify-content-end"
            ><small>@24ur.com</small>
          </a>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect><i class="fas fa-thumbs-up"></i></button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
      </div> -->
    </div>
  </div>
</div>
