<div>
  <div class="container mb-4">
    <div class="row">
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body grey darken-2 white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Ermenčeva si želi, da bi pripadniki SV za ugovore uporabljali
              službeno pot
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4">
              Knovs je končal pogovor z načelnico Generalštaba Slovenske vojske
              (SV) <strong>Alenko Ermenc</strong>
            </p>
            test
<li *ngFor="let article of articles" class="list-group-item list-group-item-warning">
  <strong>{{article}}</strong>
  <div class="float-right">
    <button class="btn btn-outline-dark btn-sm p-1" (click)='prikaziFormoZaUpdateTodo(todo)'><i class="far fa-edit"></i></button>
    <button class="btn btn-outline-danger btn-sm p-1" (click)='potrdi_brisanje_vnosa_v_todo(todo)'><i class="far fa-trash-alt"></i></button>
  </div>
  
</li>
            <hr class="hr-light" />
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a
              href="#!"
              (click)="basicModal.show()"
              class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body grey darken-2 white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Tonin: Sova v primeru prisluškovalne afere dobro opravila svojo
              nalogo
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4">
              Sova je v primeru prisluškovalne afere v arbitraži o meji med
              Slovenijo in Hrvaško dobro opravila svojo nalogo, vendar pa vsi
              njeni predlogi niso bili upoštevani, na podlagi doslej slišanega
              ugotavlja predsednik Knovsa <strong>Matej Tonin </strong>(NSi)
            </p>
            <hr class="hr-light" />
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body indigo darken-4 white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Kmalu znano, kdo bo vodil ljubljanski UKC
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4">
              Razpisna komisija Sveta ljubljanskega kliničnega centra je prejela
              sedem prijav za mesto generalnega direktorja UKC Ljubljana
            </p>
            <hr class="hr-light" />
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body indigo darken-4 white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Hladen tuš za Telemach. Ta odgovarja s tožbo
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4">
              Ljubljana – Agencija za komunikacijska omrežja in storitve
              Republike Slovenije se je odločila odvzeti del frekvenc mobilne
              telefonije družbi Telemach
            </p>
            <hr class="hr-light" />
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body grey darken-2 white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Enaki argumenti, kot jih je arbitražno sodišče že zavrnilo
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4"></p>
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Vlada proti projektu Levice, od katerega je odvisna njihova
              nadaljnja pot
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4"></p>
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              FOTO:Novomeščani pometli s svetovno konkurenco
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4">
              Ljubljana – Ne vlada ne odbor za finance ne podpirata
            </p>
            <hr class="hr-light" />
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body elegant-color white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Janez Novljan: Tudi v Dubrovniku ni sledu o moji ženi
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text mb-4"></p>
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>delo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
      <div class="col-md-4">
        <!-- Card Dark -->
        <div class="card">
          <!-- Card content -->
          <div class="card-body teal darken-4 white-text rounded-bottom">
            <!-- Title -->
            <h4 class="card-title">
              Borbeni Alaphilippe se je s silovitim napadom odel v rumeno
            </h4>
            <hr class="hr-light" />
            <!-- Text -->
            <p class="card-text white-text">
              Po tretji etapi je na vrhu skupnega seštevka Dirke po Franciji
              novo ime. Rumeno majico je oblekel 27-letni kolesar Julian
              Alaphilippe, ki je z izjemnim napadom dobil prvo etapo letošnje
              dirke na francoskih tleh.
            </p>
            <!-- Link -->
            <a href="#!" class="white-text d-flex justify-content-end"
              ><small>rtvslo.si</small>
            </a>
            <a href="#!" class="white-text d-flex justify-content-start"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </div>
        </div>
        <!-- Card Dark -->
      </div>
    </div>
  </div>
</div>


<div
  mdbModal
  #basicModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header grey lighten-2">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="basicModal.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Politika</h4>
      </div>
      <div class="modal-body">
        <a target="_blank"
          href="https://www.delo.si/novice/slovenija/ermenceva-si-zeli-da-bi-pripadniki-sv-za-ugovore-uporabljali-sluzbeno-pot-204237.html"
          ><h4 class="modal-title w-100 black-text" id="myModalLabel">
            Ermenčeva si želi, da bi pripadniki SV za ugovore uporabljali
            službeno pot
          </h4>
        </a>
        <strong
          >Knovs je končal pogovor z načelnico Generalštaba Slovenske vojske
          (SV) Alenko Ermenc</strong
        >
        <a href="#!" class="black-text d-flex justify-content-end">@delo.si</a>
        <div style="color: rgba(0, 0, 0, 0.5)">
          <hr class="hr-dark" />
          <a target="_blank"
            href="https://www.rtvslo.si/slovenija/nacelnica-si-zeli-da-bi-pripadniki-sv-za-ugovore-uporabljali-sluzbeno-pot/493988"
            ><h5 class="black-text">
              <strong>
                Načelnica si želi, da bi pripadniki SV za ugovore uporabljali
                službeno pot
              </strong>
            </h5>
          </a>

          <small>
            Po pogovoru s Knovsom načelnica Generalštaba SV Alenka Ermenc
            vsebine zaslišanja zaradi tajnosti ni pojasnjevala medijem, a
            pričakovati je, da je člane komisije zanimala zlasti njena vloga pri
            razrešitvi Mihe Škerbinca.
          </small>
          <a href="#!" class="black-text d-flex justify-content-end"
            ><small>@rtvslo.si</small>
          </a>
          <hr class="hr-dark" />
          <a target="_blank"
            href="https://www.24ur.com/novice/slovenija/ermenceva-si-zeli-da-bi-pripadniki-sv-za-ugovore-uporabljali-sluzbeno-pot.html"
            ><h5 class="black-text">
              <strong
                >Ermenčeva si želi, da bi pripadniki SV za ugovore uporabljali
                službeno pot
              </strong>
              <small><i class="fas fa-fire"></i></small></h5
          ></a>
          <small>
            Knovs je končal pogovor z načelnico Generalštaba Slovenske vojske
            (SV) Alenko Ermenc. Ta v izjavi za medije po zaslišanju ni
            razkrivala vsebine pogovora. O ravnanju nekdanjega poveljnika
            poveljstva sil Mihe Škerbinca je dejala le, da bi si želela, da bi
            vsak pripadnik uporabljal službeno pot, ko gre za predloge in
            ugovore na odločitve nadrejenih.
          </small>
          <a href="#!" class="black-text d-flex justify-content-end"
            ><small>@24ur.com</small>
          </a>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect><i class="fas fa-thumbs-up"></i></button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
      </div> -->
    </div>
  </div>
</div>
