<div>
  <div class="container mb-4">
    <div class="card-columns">
      <!-- Card Dark -->
      <div
        *ngFor="let article of Articles; let i = index; trackBy: customTB"
        class="card"
      >
        <!-- Card content -->
        <div class="card-body lighten-4" [ngClass]="getColor(article.category)">
          <!-- Title -->
          <h4 class="card-title">
            {{ article.title }}
          </h4>
          <hr class="hr" />
          <!-- Text -->
          <p class="card-text mb-4">
            {{ article.summary }}
          </p>
          <hr class="hr" />
          <!-- Link -->
          <p class="card-text mb-4">
            <a
              href="{{ article.link }}"
              class="d-flex justify-content-end black-text"
              ><small
                >@{{ extractHostname(article.link) }}
                <i class="fa fa-angle-double-right"></i
              ></small>
            </a>
          </p>
          <p *ngIf="article != null && article.connectedArticles != null && article.connectedArticles.length > 0" class="card-text">
            <a
              (click)="[basicModal.show(), selectArticle(article)]"
              class="black-text d-flex"
              ><small style="padding: 0.2rem"
                ><i class="fa fa-angle-double-right"></i></small
              >ostali viri
            </a>
          </p>
        </div>
        <!-- Card Dark -->
      </div>
    </div>
  </div>
</div>

<div
  mdbModal
  style="overflow-y: auto"
  #basicModal="mdbModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header grey lighten-2">
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="basicModal.hide()"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 text-capitalize" id="myModalLabel">
          {{
            selectedArticle !== undefined
              ? customLetters(selectedArticle.category)
              : ""
          }}
        </h4>
      </div>
      <div class="modal-body m-2">
        <a
          target="_blank"
          href="{{ selectedArticle !== undefined ? selectedArticle.link : '' }}"
          ><h4 class="modal-title w-100 black-text" id="myModalLabel">
            {{ selectedArticle !== undefined ? selectedArticle.title : "" }}
          </h4>
        </a>
        <strong>
          {{ selectedArticle !== undefined ? selectedArticle.summary : "" }}
        </strong>
        <a
          href="{{ selectedArticle !== undefined ? selectedArticle.link : '' }}"
          class="black-text d-flex justify-content-end"
          >@{{
            selectedArticle !== undefined
              ? extractHostname(selectedArticle.link)
              : ""
          }}</a
        >
        <div style="color: rgba(0, 0, 0, 0.5)">
          <div *ngIf="selectedArticle">
            <div *ngFor="let subarticle of selectedArticle.connectedArticles">
              <hr class="hr-dark" />
              <small
                ><a target="_blank" href="{{ subarticle.link }}"
                  ><h5 class="black-text">
                    <strong>
                      {{ subarticle.title }}
                    </strong>
                  </h5>
                </a>
                <a
                  href="{{
                    selectedArticle !== undefined ? selectedArticle.link : ''
                  }}"
                  class="black-text d-flex justify-content-end"
                >
                  @{{
                    subarticle !== undefined
                      ? extractHostname(subarticle.link)
                      : ""
                  }}</a
                ></small
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
