<!--The content below is only a placeholder and can be replaced.-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark stylish-color-dark">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a
      class="navbar-brand"
      routerLink="/"
      style="font-family: 'Bree Serif', serif;"
      >{{ title }}</a
    ></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/slovenija" mdbWavesEffect
          >Slovenija</a
        >
      </li>
      <!-- Dropdown -->
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/tujina" mdbWavesEffect
          >Tujina</a
        >
      </li>
      <!-- Dropdown -->
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/gospodarstvo" mdbWavesEffect
          >Gospodarstvo</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/sport" mdbWavesEffect
          >Šport</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/kultura" mdbWavesEffect
          >Kultura</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="/znanost" mdbWavesEffect
          >Znanost in tehnika</a
        >
      </li>
    </ul>
    <!-- Links -->

    <!-- Search form -->
    <div class="float-right">
      <small class="white-text" >{{formatDate(updated)}}</small>
    <button mdbBtn type="button" color="light-green" outline="true" size="sm" mdbWavesEffect (click)="refresh()"><i class="fa fa-refresh" aria-hidden="true"></i></button>

    </div>
    
    
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<router-outlet></router-outlet>
